@import url("/css/blog.css");
@import url("/css/home.css");
@import url("/css/packages.css");
@import url("/css/playground.css");
@import url("/css/project-echo.css");

:root {
  --nav-width: 1125px;
  --main-width: 1125px;
  --industrial-glow: #07dbeb;
}
