.blog-index-layout {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.blog-tags {
  flex-basis: 20%;
  border-right: 1px solid var(--border);
  padding-right: 1rem;
}

.blog-tags h3 {
  flex-basis: 20%;
  text-shadow: 0 0 3px #5a03fc;
}

.blog-tags ul {
  list-style-type: none;
  padding: 0;
}

.blog-tags li {
  margin: 0.5rem 0;
}

.blog-posts {
  flex: 1;
}

.blog-posts h1 {
  padding-bottom: 0.75em;
  text-shadow: 0 0 3px #5a03fc;
}

.blog-list-item {
  margin-bottom: 2rem;
}

.blog-list-item h2 {
  margin: 0;
  text-shadow: 0 0 3px #5a03fc;
}

.blog-list-item p {
  font-size: 1rem;
}