{{ define "main" }}
<div class="blog-index-layout">

  <!-- Sidebar with Tags -->
  <aside class="blog-tags">
    <h3>Tags</h3>
    <ul>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    </ul>
  </aside>

  <!-- Main Blog Post List -->
  <section class="blog-posts">
    <h1>All Blog Posts</h1>
    {{ range .Pages.ByDate.Reverse }}
      {{ $post := . }}
      <article class="blog-list-item">
        <h2><a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a></h2>
        <p>{{ .Summary }}</p>
        <small>
        {{ $post.Date.Format "January 2, 2006" }} —
        {{ $post.WordCount }} words —
        Tags:
        {{ range $index, $tag := $post.Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ if lt (add $index 1) (len $post.Params.tags) }}, {{ end }}
        {{ end }}
        </small>
      </article>
    {{ end }}
  </section>

</div>

{{ end }}
